.currentScreen {
  border-bottom: 3px solid black;
  width: 100px;;
}

.textarea {
  width: -webkit-fill-available;
  resize: none;
  height: 80px;
  font-size: 22px;
  padding: 12px;
  margin-bottom: 20px;
} 

.label {
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 20px;
}

.container-radio {
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 20px;
}

div input[type="radio"] {
  appearance: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

div input[type="radio"]:checked {
  background-image: radial-gradient(#7545c4 50%, #ffffff 60%);
}

.btnCriar {
  width: 100%;
  background-color: #6e60bd;
  color: #ffffff;
  border: none;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.btnCriar:disabled {
  cursor: not-allowed;
}