@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: inter;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #241770;
  color: #FFF;
  height: 60px;
  font-size: 30px;
  padding: 14px;
}

header li {
  font-size: 20px;
  color: #000;
  list-style: none; 
  margin-bottom: 10px;
}

header li > a {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}

header li:nth-child(2) {
  font-size: 20px;
  color: #000;
  list-style: none; 
  border-bottom: solid 3px black;
}

header nav {
  display: none;
  color: #000;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 60%;
  height: calc(100vh - 100px);
  background-color: #FFF;
  padding-top: 100px;
  -webkit-box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
}

.menu-burguer  {
  cursor: pointer;
  z-index: 1;
}

.menu-burguer div {
  display: block;
  width: 32px;
  height: 2px;
  background: #FFF;
  margin: 8px;
}

.close-menu {
  margin: 10px;
  display: none;
  z-index: 2;
  cursor: pointer;
}

.content-main {
  display: flex;
  flex-direction: column;
  background-color: #1f123d;
  height: 100vh;
  padding: 14px;
}

.content-main > h1 {
  color: #FFF;
  margin-top: 0;
  padding-top: 80px;
  font-weight: 600;
}

.content-main > button {
  background-color: #6e60bd;
  color: #FFF;
  border: none;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 40px;
}

.filter {
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #FFF;
  margin-bottom: 20px;
}

.filter > svg {
  margin-left: 12px;
}

.survey {
  display: none;
  position: relative;
  padding: 9px 0 9px 12px;
  font-size: 22px;
  height: 40px;
  margin-bottom: 20px;
}

.priority, .container-inputs, .btn, .container-lupa {
  display: none; 
}

main > label {
  color: #FFF;
  font-size: 25px;
  padding-bottom: 20px;
}

main > div {
  color: #FFF;
  font-size: 25px;
  padding-bottom: 20px;
}

div input[type="radio"] {
  appearance: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #FFF;
  cursor: pointer;
}

div input[type="radio"]:checked {
  background-image: radial-gradient(#7545c4 50%, #FFF 60%);
}

.container-lupa {
  padding: 10px;
  margin-top: -81px;
  height: 40px;
  display: none;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 0;
  margin-bottom: 40px;
}

.purpleFilter {
  display: none;
  cursor: pointer;
}

.whiteFilter {
  cursor: pointer;
}

.container-phrase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phrases {
  margin: 0;
  padding: 0;
}


.phrases_line {
  height: 50px;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.phrases_container-color {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.phrases_priority {
  width: 4px;
  height: 50px; 
  background-color: #D04A4A;
  margin-right: 20px;
}

.phrases_paragraph {
  color: #FFF;
  font-weight: 400;
  width: 100%;
}

.practice {
  margin-top: 40px;
}

.phrases_settings {
  height: 30px;
  width: 10px;
}

#blue {
  background-color: #45C4B0;
}

#yellow {
  background-color: #BDB160;
}

.content-settings {
  display: none;
  list-style: none;
  background-color: #FFF;
  width: 182px;
  padding: 12px;
  position: absolute;
  right: 12px;
  top: 100%;
  -webkit-box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
}

.phrases_line.is-visible .content-settings {
  display: block;
}

.content-settings_line {
  margin-left: 5px;
  height: 32px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.svg-delete {
  padding-right: 20px;
}

.svg-changePriority {
  padding-right: 18px;
}

.svg-edit {
  padding-right: 23px;
}
.container-line-options {
  display: flex;
}

.container-line-options_btn-settings {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
